version: "3.4"
services:
  geth.dnp.dappnode.eth:
    image: "geth.dnp.dappnode.eth:0.1.17"
    build:
      context: ./build
      args:
        UPSTREAM_VERSION: v1.10.15
    volumes:
      - "geth:/root/.ethereum"
    environment:
      - "EXTRA_OPTIONS=--http.api eth,net,web3,txpool --ws.api eth,net,web3,txpool"
      - SYNCMODE=snap
    ports:
      - 30303/tcp
      - 30303/udp
    restart: unless-stopped
volumes:
  geth: {}
